* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: linear-gradient(180deg, #AF68EA 0%, #6563E8 100%);
}

.accordion-box {
    position: relative;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
}

.attribution {
    position: sticky;
    text-align: center;
    bottom: 0px;
}

.accordion {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    position: relative;
   overflow: hidden;
   width: 598px;
   height: 521px;
   transform: translate(-50px);
}

.room {
    transform: translate(-50px);
    margin-top: 70px;

}

.box{
    position: absolute;
    top: 208px;
    left: -74px;
}

.line-shadow {
    position: absolute;
    top: -275px;
    left: -554px
}

.accordion-box {
    width: 920px;
    height: 520px;
    border-radius: 20px;
    background-color: #fff;
    padding: 50px;
}


.text h3 {
    padding-bottom: 37px;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    padding-top: 62px;
}

.questions{
    height: 400px;
}

.question {
    padding: 16px 0;
    border-bottom: 1px solid #E8E8E8;
}

.question h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 11px;
    font-weight: 700;
    
}



.questions .arrow {
    transform: rotate( 180deg);
    transition:  all smoothk;
}

.open-close{
    height: 48px;
    color:red ;
    overflow: hidden;
}

.open-close h4{
    color: #525157;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.07px;
}

.open-close  .arrow{
    transform: rotate( 0);
}






.question h4 img{
    padding: 5px;
}

.question p {
    color: #525157;
    font-size: 12px;
    font-weight: 400;
    padding-right: 120px;
}


